body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  font-weight: 200px;
  font-size: 64px;
}

img {
  height: 10px;
}

a {
  text-decoration: none;
  padding: 20px;
  color: black;
  border: 2px solid transparent;
  border-bottom: 2px solid #e2197d;
  margin: 10px;
}

a:hover {
  border: 2px solid #e2197d;
}