<%- include('../partials/header') %>

    <h1>
        <%= title %>
    </h1>
    <form action="/trips" method="POST">
        <label>Location</label>
        <input type="text" name="location">
        <label>How long is your trip?</label>
        <input type="number" name="tripLength" id="">
        <label>Type of your trip</label>
        <select name="tripType">
            <option value="Business">Business</option>
            <option value="Leisure">Leisure</option>
        </select>
        <button type="submit">Create Trip</button>
    </form>
    <%- include('../partials/footer') %>